<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-app="heatmap-tracker">

    <div ng-view></div>

    <script id="tracker.html" type="text/ng-template">
    <div>
      <h2>Tracker</h2>
      <table class="heatmap">
        <tr class="month-row">
          <td></td>
          <td ng-class="monthObj[day] ? 'first-month' : ''" ng-repeat="(day,val) in (heatmap | firstElement)">
            <b ng-if="monthObj[day]">{{ day | date:'MMMM' }}</b>
          </td>
        </tr>
        <tr class="dates-row">
          <td></td>
          <td ng-class="monthObj[day] ? 'first-month' : ''" ng-repeat="(day,val) in (heatmap | firstElement)">
            {{ day | date:'dd' }}
          </td>
        </tr>
        <tr class="squares-row" ng-repeat="(proj,dates) in heatmap">
          <td class="project-column">
            <form ng-submit="renameProject(proj, pp)"><input type="text" name="pp" ng-model="pp" ng-value="proj" /></form>
          </td>
          <td ng-class="monthObj[day] ? 'first-month' : ''" ng-repeat="(day,val) in dates">
            <div ng-click="clickSquare(proj, day)" class="square" ng-class="'square-' + val"></div>
          </td>
        </tr>
      </table>
      <button ng-click="addProject()">Add project</button>
    </div>
    </script>

    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script>
      angular.module('heatmap-tracker', ['ngRoute']);
    </script>
    <script src="app.js"></script>
</body>
</html>
