body {
  font-family: 'Arial', sans-serif;
}

.heatmap {
  outline: none;
  border-spacing: 1px;
}

.heatmap td {
  padding: 0px;
  padding-right: 2px;
}

.heatmap form {
  margin: 0;
  padding: 0;
}

.heatmap .square {
  width: 16px; 
  height: 16px; 
  display: inline-block; 
  background: #ededed; 
  cursor: pointer;
}

.heatmap .square:hover {
  opacity: 0.6;
}


/*.heatmap .square-1 { background: #d2de76; }
.heatmap .square-2 { background: #baca69; }
.heatmap .square-3 { background: #a4b55c; }
.heatmap .square-4 { background: #798e42; }
.heatmap .square-5 { background: #51682a; }*/

.heatmap .square-1 { background: #d2de76; }
.heatmap .square-2 { background: #a4b55c; }
.heatmap .square-3 { background: #51682a; }

.heatmap .dates-row {
  font-size: 10px;
  color: gray;
  text-align: center;
}

.heatmap .squares-row td {
  font-size: 0px;
}

.heatmap .project-column {
  font-size: 14px;
  color: black; 
  vertical-align: middle;
}

.heatmap .month-row td {
  height: 20px;
  vertical-align: top;
}

.heatmap .month-row b {
  position: absolute;
  font-weight: bold;
  font-size: 16px;
}

.heatmap .first-month {
  padding-left: 20px;
}